{% extends "catalog/base.html" %}
{% block content %}
{% load static %}
<div class = "main">
    <div class = "image-home" style="text-align: center;">
        <img src="{% static  'users/images/homee.png' %}" alt="" style="">
    </div>
</div>
<div class="center-button">
    <a href="{% url 'catalog:book_list' %}" class="btn btn-custom active text-white" role="button">Start Browsing</a>
</div>
<div data-aos="fade-up" data-aos-duration="3000" class = "mapContainer">
    <div id="googleMap"></div>
     <div data-aos="fade-up"
     data-aos-duration="3000" class="map-text">
        <h2>We believe in ease, privacy, and safety.</h2>
        <h3>
        There are four pick up and drop off bins installed in entrances of Rice, Shannon, Gibbons, and Student Health and Wellness.
        Feel free to drop off in any of locations convenient and let your lender/borrower know!
        </h3>
     </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWsOaFywRuXK3743fprVwT4oePuo3io9c&loading=async&callback=myMap" async defer></script>
<script src="{% static  'users/script.js' %}"></script>

<script>
    AOS.init({
        duration: 3000,
        once: false,
    });
</script>

{% endblock content %}