{% extends "catalog/base.html" %}
 {% block content %}

 <div class = "page">
<div class="d-flex justify-content-between align-items-center p-2">
     <h1 class="mb-0 ms-4">Collections</h1>
   <div class>
     <button class="btn btn-custom active text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
     Filter
   </button>
       {% if is_authenticated %}
       {% if is_librarian or is_patron%}
     <a class="btn btn-custom active text-white" href="{% url 'catalog:create_collection' %}">Create a New Collection</a>
       {% endif %}
       {% endif %}
   </div>
 </div>

 <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
     <div class="offcanvas-header">
         <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filter</h5>
         <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="offcanvas-body">
         <ul class="navbar-nav">
                {% if is_authenticated %}
                    {% if is_librarian %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'catalog:filter_collection' 'public' %}">Public</a></li>
                            <li><a class="dropdown-item" href="{% url 'catalog:filter_collection' 'private'%}">Private</a></li>
                        </ul>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
        <form class="d-flex mt-3" role="search" action ="{% url 'catalog:search_collection' %}" >
            <input class="form-control me-2" type="search"  name = "query" placeholder="Search" aria-label="Search">
            <button class="btn btn-custom active text-white" type="submit">Search</button>
        </form>
    </div>
</div>

    <hr class="mt-0 line-strip" >


    <div class="container mt-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    {% for collection in collections %}
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <img src= "{{ collection.cover_image.url }}" alt=" " class="img-fluid rounded">
            <div class="align-items-center justify-content-between mt-2">
               {% if collection.is_private and not is_librarian%}
                <span class="text-muted">{{ collection.title }} (Private)</span>
                {% else %}
                <a href="{% url 'catalog:collection_books_view' collection.id %}" class="card-title mt-3">{{ collection.title|truncatechars:20 }}</a>
                {% for book in collection.books.all %}
                <div class="align-items-center gap-2">
                  <p class="card-text mb-0"><small class="text-muted">{{ book.title|truncatechars:20}}</small></p>
                </div>
              {% endfor %}
            {% endif %}


                    <!-- Edit and Delete Buttons -->
<div class="d-flex justify-content-between align-items-center">

                {% if collection.can_delete %}
                <a href="{% url 'catalog:edit_collection' collection.id %}" class="btn btn-custom active text-white">Edit Books</a>
            <form action="{% url 'catalog:delete_collection' collection.id %}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this collection?');">
                {% csrf_token %}
                <div class = "hover-icon-delete">
                <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer; color:gray;">
                    <i class="fas fa-trash" style="font-size: 24px;"></i>
                    </button>
                    </div>
            </form>
        {% endif %}

            </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
 </div>
{% endblock content %}

