{% extends "catalog/base.html" %}
{% block content %}

<!-- Button for creating a new collection -->
{% if can_create %}
    <a href="{% url 'catalog:create_collection' %}">
        <button>Create New Collection</button>
    </a>
{% endif %}

<!-- Loop through collections -->
{% for collection in collections %}
    <div>
        <!-- Collection title -->
        <h3>
            {% if collection.is_private and not is_librarian %}
                <span class="text-muted">{{ collection.title }} (Private)</span>
            {% else %}
                <a href="{% url 'catalog:collection_books_view' collection.id %}">
                    {{ collection.title }}
                </a>
            {% endif %}
        </h3>

        <!-- Edit and Delete Buttons -->
        {% if collection.can_delete %}
            <a href="{% url 'catalog:edit_collection' collection.id %}" class="btn btn-primary">Edit Books</a>
            <form action="{% url 'catalog:delete_collection' collection.id %}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this collection?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        {% endif %}
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                {% if is_authenticated %}
                {% if is_librarian %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'catalog:filter_collection' 'public' %}">Public</a></li>
                    <li><a class="dropdown-item" href="{% url 'catalog:filter_collection' 'private'%}">Private</a></li>

                </ul>
                {% endif %}
                {% endif %}
            </li>
        </ul>
        <form class="d-flex mt-3" role="search" action ="{% url 'catalog:search_collection' %}" >
            <input class="form-control me-2" type="search"  name = "query" placeholder="Search" aria-label="Search">
            <button class="btn btn-custom active text-white" type="submit">Search</button>
        </form>
    </div>
</div>

    <hr class="mt-0 line-strip" >

    <div class="container mt-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    {% for collection in collections %}
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <img src= "{{ collection.cover_image.url }}" alt=" " class="img-fluid rounded">
            <h4 class="card-title mt-3">{{ collection.title|truncatechars:20 }}</h4>
            <div class="align-items-center justify-content-between mt-2">
              {% for book in collection.books.all %}
                <div class="align-items-center gap-2">
                  <p class="card-text mb-0"><small class="text-muted">{{ book.title|truncatechars:20}}</small></p>
              </div>
                {% endfor %}
              <div class="text-end">
                <a href = "{% url 'catalog:book_list' %}?collection_title={{ collection.title }}" class="btn btn-custom active text-white" role="button">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock content %}
