<!-- catalog/item.html -->
{% extends "catalog/base.html" %}
{% load static %}

{% block content %}
<div class="bookSeparate">
    <img src="{{ book.cover_image.url }}" alt="" class="image-item">
    <div class="text-content">
        <h1>{{ book.title }}</h1>
        <div>
            <div class="rounded-box">
                <p>Reviews:</p>
                <h3>{{ book.rating }}/5
                    <img src="{% static 'users/images/star.png' %}" alt="" class="star">
                </h3>
            </div>
            <div class="rounded-box">
                <p>Pick-up Location:</p>
                <h3>{{ book.location }}</h3>
            </div>
            <div class="rounded-box">
                <p>Condition:</p>
                <h3>{{ book.condition }}</h3>
            </div>
            <div class="text-item">
                <p>Description: {{ book.description }}</p>
                <p>Lender username: {{ book.lender }}</p>
            </div>
            {% if book.lender == request.user %}
            {% elif active_request %}
                <button class="btn btn-secondary disabled" type="button" disabled>
                    {% if active_request_obj.status == 'waiting' %}
                        Request Pending
                    {% elif active_request_obj.status == 'approved' %}
                        Request Approved
                    {% endif %}
                </button>
            {% else %}
                <!-- Button to open the offcanvas -->
                <button class="btn btn-custom active text-white contact-button"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar">
                    Borrow Book
                </button>
            {% endif %}
        </div>
    </div>
</div>

<!-- Offcanvas with the BookRequestForm -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            {% if active_request %}
                Request Status
            {% else %}
                Request Book
            {% endif %}
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            
            {{ form.non_field_errors }}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Confirm Request?');">Submit Request</button>
        </form>
        {% if request_sent %}
            <p class="text-success">Request successfully sent!</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
