{% extends "catalog/base.html" %}
{% block content %}
{% load static %}

<div class = "bookSeparate">
    <img src = "{{ book.cover_image.url }}" alt = " " class = "image-item">
    <div class = text-content>
        <h1>{{ book.title }} </h1>
        <div>
            <div class = "rounded-box">
                <p>Reviews: </p>
                <h3>{{ book.rating }}/5  <img src = "{% static 'users/images/star.png' %}" alt = " " class = "star"> </h3>
            </div>
                <div class = "rounded-box">
                    <p>Pick-up Location: </p>
                    <h3>{{ book.location }}</h3>
                </div>
                <div class = "rounded-box">
                    <p>Condition: </p>
                    <h3>{{ book.condition }}</h3>
                </div>

                <div class = "text-item">
                <p> Description: {{ book.description }}</p>
                <p> Lender username: {{ book.lender }}</p>
                </div>
            {% if user.is_authenticated %}

        <button class="btn btn-custom active text-white contact-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    Contact Seller
                </button>
            {% endif %}
            </div>
    </div>
    </div>

<!-- Used a tutorial to create the comments - https://www.youtube.com/watch?v=O-QUBZuZlXM&ab_channel=Going-ToInternet -->
<div class = "comment-heading">
    <span>Comments</span>
    <h1>Readers Say</h1>
</div>
<a href="{% url 'catalog:add_comment' book.id %}" class="btn btn-custom active text-white" role="button">Write A Review</a>

    <section id = "comments">
        <div class = "comment-box-container">
            <div class = "comment-box">
                <div class = "box-top">
                    <div class = "profile">
                    <div class = "profile-img">
                        <img src = "{% static 'users/images/markerIcon.png' %}">
                    </div>
                    <div class = "name-user">
                        <strong>Aziza E</strong>
                        <span>aziza.ergasheva50@gmail.com</span>

                    </div>
                    </div>
                    <div class = "reviews">
                        <i class='fas fa-star' style="color: #BFA054;"> </i>
                        <i class = "fas fa-star" style="color: #BFA054;"></i>
                        <i class = "fas fa-star" style="color: #BFA054;"></i>
                        <i class = "fas fa-star" style="color: #BFA054;"></i>
                        <i class = "far fa-star" style="color: #BFA054;"></i>
                    </div>
                    </div>

                    <div class = "client-comment">
                        <p>HELLO, LOVE THIS Book <<<<<<<<<3</p>
                    </div>
            </div>

        </div>
        <div class = "comment-box-container">
            <div class = "comment-box">
                <div class = "box-top">
                    <div class = "profile">
                    <div class = "profile-img">
                        <img src = "{% static 'users/images/markerIcon.png' %}">
                    </div>
                    <div class = "name-user">
                        <strong>Aziza E</strong>
                        <span>aziza.ergasheva50@gmail.com</span>

                    </div>
                    </div>
                    <div class = "reviews">
                        <i class='fas fa-star' style="color: #BFA054;"> </i>
                        <i class = "fas fa-star" style="color: #BFA054;"></i>
                        <i class = "fas fa-star" style="color: #BFA054;"></i>
                        <i class = "fas fa-star" style="color: #BFA054;"></i>
                        <i class = "far fa-star" style="color: #BFA054;"></i>
                    </div>
                    </div>

                    <div class = "client-comment">
                        <p>HELLO, LOVE THIS Book <<<<<<<<<3</p>
                    </div>

            </div>
        </div>
            </section>


<div class="login-popup">
  	 <div class="box">
  	 	 <div class="img-area">
  	 	 	<div class="img">
                <img src="{% static 'users/images/login.jpg' %}" alt="Your Logo" class="img-fluid">
  	 	 	</div>
  	 	 </div>
  	 	 <div class="form">
  	 	 	<div class="close">&times;</div>
  	 	 	<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Used website https://iamkate.com/code/star-rating-widget/ --->
<div class="rating">
            <input id="rating1" type="radio" name="rating" value="1">
            <label for="rating1" class="fa fa-star"></label>

            <input id="rating2" type="radio" name="rating" value="2">
            <label for="rating2" class="fa fa-star"></label>

            <input id="rating3" type="radio" name="rating" value="3">
            <label for="rating3" class="fa fa-star"></label>

            <input id="rating4" type="radio" name="rating" value="4">
            <label for="rating4" class="fa fa-star"></label>

            <input id="rating5" type="radio" name="rating" value="5">
            <label for="rating5" class="fa fa-star"></label>
</div>
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Comment</label>
                {{ form.comment }}
            </div>
                <button type="submit" class="btn btn-custom active text-white">Add Comment</button>

            </form>
        </div>
  	 	 </div>
  	 </div>
  </div>

<script src="{% static  'users/script.js' %}"></script>

{% endblock content %}